.w-checkbox {
  display: block;
  margin-bottom: 5px;
  padding-left: 20px;
}

.w-checkbox::before {
  content: ' ';
  display: table;
  -ms-grid-column-span: 1;
  grid-column-end: 2;
  -ms-grid-column: 1;
  grid-column-start: 1;
  -ms-grid-row-span: 1;
  grid-row-end: 2;
  -ms-grid-row: 1;
  grid-row-start: 1;
}

.w-checkbox::after {
  content: ' ';
  display: table;
  -ms-grid-column-span: 1;
  grid-column-end: 2;
  -ms-grid-column: 1;
  grid-column-start: 1;
  -ms-grid-row-span: 1;
  grid-row-end: 2;
  -ms-grid-row: 1;
  grid-row-start: 1;
  clear: both;
}

.w-checkbox-input {
  float: left;
  margin-bottom: 0px;
  margin-left: -20px;
  margin-right: 0px;
  margin-top: 4px;
  line-height: normal;
}

.w-checkbox-input--inputType-custom {
  border-top-width: 1px;
  border-bottom-width: 1px;
  border-left-width: 1px;
  border-right-width: 1px;
  border-top-color: #ccc;
  border-bottom-color: #ccc;
  border-left-color: #ccc;
  border-right-color: #ccc;
  border-top-style: solid;
  border-bottom-style: solid;
  border-left-style: solid;
  border-right-style: solid;
  width: 12px;
  height: 12px;
  border-bottom-left-radius: 2px;
  border-bottom-right-radius: 2px;
  border-top-left-radius: 2px;
  border-top-right-radius: 2px;
}

.w-checkbox-input--inputType-custom.w--redirected-checked {
  background-color: #3898ec;
  border-top-color: #3898ec;
  border-bottom-color: #3898ec;
  border-left-color: #3898ec;
  border-right-color: #3898ec;
  background-image: url('https://d3e54v103j8qbb.cloudfront.net/static/custom-checkbox-checkmark.589d534424.svg');
  background-position: 50% 50%;
  background-size: cover;
  background-repeat: no-repeat;
}

.w-checkbox-input--inputType-custom.w--redirected-focus {
  box-shadow: 0px 0px 3px 1px #3898ec;
}

.body {
  display: block;
  max-width: 1920px;
  padding: 45px 10%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  font-family: Roboto, sans-serif;
}

.text-block {
  font-size: 16px;
  line-height: 30px;
  font-weight: 700;
}

.text-block-2 {
  font-size: 16px;
  line-height: 30px;
}

.columns {
  margin-bottom: 55px;
}

.heading {
  text-align: center;
}

.text-block-3 {
  font-size: 32px;
  line-height: 50px;
  font-weight: 500;
  text-align: center;
}

.text-block-4 {
  margin-top: 5px;
  margin-bottom: 35px;
  font-size: 18px;
  font-weight: 400;
  text-align: center;
}

.paragraph {
  margin-top: 25px;
  margin-bottom: 15px;
  font-size: 18px;
  line-height: 32px;
}

.paragraph.bold {
  font-size: 21px;
  font-weight: 700;
}

.tab-link-tab-1 {
  padding-right: 0px;
  padding-bottom: 2px;
  padding-left: 0px;
  border-bottom: 4px solid #f1f1f1;
  background-color: hsla(0, 0%, 100%, 0);
  font-size: 15px;
}

.tab-link-tab-1.w--current {
  padding-right: 0px;
  padding-bottom: 2px;
  padding-left: 0px;
  border-bottom: 4px solid #04e051;
  background-color: #fff;
}

.tab-link-tab-2 {
  margin-left: 30px;
  padding-right: 0px;
  padding-bottom: 2px;
  padding-left: 0px;
  border-bottom: 4px solid #f1f1f1;
  background-color: hsla(0, 0%, 86.7%, 0);
}

.tab-link-tab-2.w--current {
  margin-left: 30px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  border-bottom: 4px solid #04e051;
  background-color: transparent;
}

.tab-pane-tab-1 {
  margin-top: 11px;
}

.checkbox-label {
  font-size: 18px;
  line-height: 32px;
  font-weight: 300;
}

.checkbox-field {
  font-size: 18px;
  line-height: 32px;
}

.text-block-5 {
  font-size: 18px;
  line-height: 32px;
}

.text-block-6 {
  font-size: 18px;
  line-height: 32px;
}

.checkbox-field-2 {
  line-height: 25px;
}

.checkbox-field-2._1 {
  margin-left: 21px;
}

.checkbox {
  margin-top: 10px;
}

.form {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-top: 2px;
  padding-top: 10px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
}

.form._2 {
  padding-top: 15px;
}

.form.ph {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 5px;
  padding-top: 0px;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.text-field {
  padding-top: 20px;
  padding-bottom: 20px;
  font-size: 18px;
  line-height: 32px;
}

.text-field:focus {
  border: 2px solid #04e051;
}

.text-field._2 {
  margin-top: 20px;
}

.text-block-7 {
  margin-top: 0px;
  margin-bottom: 15px;
  padding-left: 0px;
  font-size: 18px;
}

.text-block-7.sm {
  margin-bottom: 12px;
  color: #8f8f8f;
  font-size: 15px;
}

.text-block-7._1 {
  margin-left: 10px;
}

.text-block-7.pd {
  margin-left: 20px;
  font-weight: 400;
}

.tabs {
  margin-left: 25px;
}

.form-2 {
  margin-left: 25px;
}

.form-block {
  margin-bottom: 0px;
  padding-top: 0px;
}

.radio-button-field {
  margin: 12px 13px 12px 25px;
  padding-left: 0px;
  font-size: 18px;
}

.radio-button-field-2 {
  font-size: 18px;
}

.tabs-menu {
  margin-bottom: 15px;
}

.div-block {
  margin-top: 30px;
}

.div-block-2 {
  padding: 50px 5%;
  background-color: rgba(34, 34, 34, 0.04);
  text-align: center;
}

.checkbox-label-2 {
  font-size: 16px;
  font-weight: 300;
  text-align: left;
}

.submit-button {
  display: inline-block;
  width: 100%;
  margin-bottom: 26px;
  padding-top: 25px;
  padding-bottom: 25px;
  border-right: 2px solid #1d5531;
  border-bottom: 3px solid #09a821;
  border-radius: 5px;
  background-color: #04e051;
  color: #fff;
  font-size: 18px;
  text-decoration: none;
}

.tabs-menu-2 {
  margin-bottom: 15px;
}

.text-field-2 {
  display: inline-block;
  margin-bottom: 0px;
  margin-left: 15px;
  padding-right: 0px;
  padding-left: 30px;
  border-style: none;
  border-width: 1px;
  border-color: transparent transparent #eaeaea;
  background-color: #f5f5f5;
  font-size: 16px;
  text-align: left;
}

.text-field-2:focus {
  border-bottom-color: #04e051;
}

.div-block-3 {
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 auto;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
}

.phone-link {
  color: #535353;
  text-decoration: none;
}

.tab-link-tab-3 {
  margin-left: 30px;
  padding-right: 0px;
  padding-bottom: 2px;
  padding-left: 0px;
  border-bottom: 4px solid #f1f1f1;
  background-color: hsla(0, 0%, 86.7%, 0);
}

.tab-link-tab-3.w--current {
  margin-left: 30px;
  padding-right: 0px;
  padding-bottom: 2px;
  padding-left: 0px;
  border-bottom: 4px solid #04e051;
  background-color: rgba(68, 35, 35, 0);
}

.text-span {
  color: #e80000;
}

.column {
  padding-left: 20px;
}

.link {
  display: inline-block;
  margin-top: 0px;
  margin-bottom: 0px;
  margin-left: 0px;
  padding-left: 0px;
  border-bottom: 1px dotted #04e051;
  color: #969696;
  font-size: 17px;
  text-decoration: none;
}

.div-block-4 {
  margin-bottom: 15px;
  margin-left: 0px;
  padding: 11px 15px 10px 40px;
  border-style: none;
  border-width: 1px;
  border-color: #e2e2e2;
  border-radius: 10px;
  background-image: url('../images/001-add.svg');
  background-position: 10px 50%;
  background-size: auto 18px;
  background-repeat: no-repeat;
  text-decoration: none;
}

.text-block-8 {
  padding-bottom: 5px;
  border-bottom: 1px dashed #dfdfdf;
  color: #969696;
  font-size: 18px;
  text-decoration: none;
}

.space {
  height: 35px;
}

.link-block {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: auto;
  margin-left: 10px;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 10px;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: #04e051;
  color: #fff;
  font-size: 16px;
  text-decoration: none;
}

.image {
  width: 20px;
  margin-right: 8px;
}

.column-2 {
  padding-left: 19px;
}

.column-3 {
  padding-left: 0px;
}

.columns-2 {
  margin-top: 10px;
}

.div-block-5 {
  margin-bottom: 15px;
  padding-top: 24px;
  padding-bottom: 24px;
  border-style: solid;
  border-width: 1px;
  border-color: #e4e4e4;
  background-color: #fafafa;
}

.text-block-9 {
  text-align: center;
}

.div-block-6 {
  margin-top: 10px;
  margin-left: 20px;
}

.column-5 {
  padding-right: 0px;
  padding-left: 0px;
}

.column-6 {
  padding-left: 0px;
}

.column-7 {
  padding-right: 0px;
  padding-left: 0px;
}

.text-block-10 {
  margin-bottom: 10px;
  margin-left: 10px;
  font-size: 18px;
  font-weight: 300;
}

.column-8 {
  padding-left: 0px;
}

.column-9 {
  padding-top: 15px;
}

.column-10 {
  padding-top: 20px;
}

.columns-3 {
  padding-bottom: 25px;
}

@media screen and (max-width: 991px) {
  .body {
    padding-right: 3%;
    padding-left: 3%;
  }

  .text-block-2 {
    margin-bottom: 13px;
    line-height: 25px;
  }

  .text-block-3 {
    font-size: 24px;
    line-height: 30px;
  }

  .paragraph {
    font-size: 16px;
    line-height: 25px;
  }

  .paragraph.bold {
    margin-bottom: 10px;
    font-size: 16px;
    font-weight: 500;
  }

  .tab-link-tab-2 {
    margin-left: 0px;
  }

  .tab-link-tab-2.w--current {
    margin-left: 0px;
  }

  .checkbox-label {
    font-size: 16px;
  }

  .text-block-5 {
    font-size: 15px;
    line-height: 28px;
  }

  .text-block-6 {
    font-size: 15px;
    line-height: 28px;
  }

  .text-field {
    font-size: 16px;
    line-height: 25px;
  }

  .text-block-7 {
    font-size: 16px;
  }

  .tabs-menu {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start;
  }

  .div-block-2 {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    padding-right: 1%;
    padding-left: 1%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  .submit-button {
    display: inline-block;
    width: auto;
    padding-top: 13px;
    padding-bottom: 13px;
    font-size: 14px;
  }

  .tabs-menu-2 {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start;
  }

  .tabs-menu-3 {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start;
  }

  .tabs-menu-4 {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start;
  }

  .tabs-menu-5 {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start;
  }

  .tab-link-tab-3 {
    margin-left: 0px;
  }

  .tab-link-tab-3.w--current {
    margin-left: 0px;
  }

  .column {
    padding-left: 10px;
  }

  .div-block-4 {
    padding-top: 4px;
    padding-bottom: 4px;
  }

  .text-block-8 {
    font-size: 15px;
  }

  .column-3 {
    padding-left: 10px;
  }

  .columns-2 {
    margin-bottom: 20px;
  }

  .div-block-5 {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  .column-4 {
    margin-bottom: 21px;
  }
}

@media screen and (max-width: 767px) {
  .submit-button {
    padding-right: 25px;
    padding-left: 25px;
    font-size: 16px;
    line-height: 23px;
  }
}

@media screen and (max-width: 479px) {
  .body {
    padding-top: 25px;
    padding-bottom: 25px;
  }

  .paragraph {
    font-size: 16px;
  }

  .paragraph.bold {
    font-size: 18px;
  }

  .checkbox-label {
    line-height: 25px;
  }

  .form.ph {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start;
  }

  .text-block-7._1 {
    margin-bottom: 15px;
    margin-left: 0px;
  }

  .tabs {
    margin-left: 0px;
  }

  .div-block-2 {
    padding-right: 1%;
    padding-left: 1%;
  }

  .checkbox-label-2 {
    color: #737373;
    font-size: 14px;
  }

  .submit-button {
    margin-right: 5px;
    margin-left: 5px;
    font-size: 15px;
    line-height: 21px;
  }

  .tabs-menu-6 {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start;
  }

  .text-field-2 {
    width: 100%;
    margin-left: 0px;
    padding-left: 10px;
  }

  .phone-link {
    color: #535353;
    text-decoration: none;
  }

  .link-block {
    margin-left: 0px;
    padding-right: 10px;
    padding-left: 10px;
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    border-right: 1px solid #1d5531;
    border-bottom: 2px solid #09a821;
    border-radius: 5px;
  }

  .text-block-9 {
    padding-left: 11px;
    text-align: left;
  }
}

